  <br>
  <div class="row">
  <div class="col-4 offset-4">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let fruit of fruits">{{ fruit | uppercase }}</li>
      <li class="list-group-item">
        <button class="btn btn-info" (click)="AddMore()">Add More</button>
      </li>
      <li class="list-group-item" *ngIf="Adding">
        <input type="text" class="form-control" [(ngModel)]="inputFruit">
        <br>
        <button class="btn btn-success" [disabled]="!inputFruit" (click)="AddFruit()">Add More Fruits</button>
      </li>
    </ul>
  </div>
</div>